# 1. COVID 19 
El humano y su complejidad con la naturaleza, su supervivencia en la tierra lo ha llevado a tener complicaciones con enfermedades potentes, unas mas que otras, estas dichas enfermedades se suelen llamar pandemias si afectan a muchos paises en comun tal es el caso de coronavirus, covid 19 o SARS-CoV-2.
Dicha enfermedad todavia en esta fecha actual: '2022-12-22', sigue afectando la salud del ser humano, a pesar de que muchas personas en distintos paises esten vacunados o tengan mas resistencia al virus.
En este caso especifico haremos una limpieza de datos primero y luego una exploracion de datos.
Evaluaremos una sola tabla, ya que en esta misma tenemos la informacion suficiente sobre casos, muertes, vacunados, ingresos a los hospitales y mas.
Las columnas son:
## covid dataset:
* iso_code
* continent
* country
* date_covid
* total_cases
* new_cases 
* total_deaths
* new_deaths
* icu_patients
* icu_patients_per_million
* hosp_patients
* hosp_patients_per_million
* weekly_icu_admissions
* total_tests
* new_tests
* total_tests_per_thousand
* positive_rate
* tests_per_case
* tests_units
* total_vaccinations
* people_vaccinated
* people_fully_vaccinated
* new_vaccinations
* total_vaccinations_per_hundred
* people_vaccinated_per_hundred
* people_fully_vaccinated_per_hundred
* gdp_per_capita
* population

In [7]:
%%sql 
SELECT *
FROM covid
LIMIT 10

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('AFG', 'Asia', 'Afghanistan', datetime.date(2020, 2, 24), Decimal('5'), Decimal('5'), None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, '1803.987', Decimal('41128772')),
 ('AFG', 'Asia', 'Afghanistan', datetime.date(2020, 2, 25), Decimal('5'), Decimal('0'), None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, '1803.987', Decimal('41128772')),
 ('AFG', 'Asia', 'Afghanistan', datetime.date(2020, 2, 26), Decimal('5'), Decimal('0'), None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, '1803.987', Decimal('41128772')),
 ('AFG', 'Asia', 'Afghanistan', datetime.date(2020, 2, 27), Decimal('5'), Decimal('0'), None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, '1803.987', Decimal('41128772')),
 ('AFG', 'Asia', 'Afghanistan', datetime.date(2020, 2, 28), Decimal('5'), Decimal('0'), None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, '1803.987', Decimal('41128772')),
 ('AFG', 'Asia', 'Afghanistan', datetime.date(2020, 2, 29), Decimal('5'), Decimal('0'), None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, '1803.987', Decimal('41128772')),
 ('AFG', 'Asia', 'Afghanistan', datetime.date(2020, 3, 1), Decimal('5'), Decimal('0'), None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, '1803.987', Decimal('41128772')),
 ('AFG', 'Asia', 'Afghanistan', datetime.date(2020, 3, 2), Decimal('5'), Decimal('0'), None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, '1803.987', Decimal('41128772')),
 ('AFG', 'Asia', 'Afghanistan', datetime.date(2020, 3, 3), Decimal('5'), Decimal('0'), None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, '1803.987', Decimal('41128772')),
 ('AFG', 'Asia', 'Afghanistan', datetime.date(2020, 3, 4), Decimal('5'), Decimal('0'), None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, '1803.987', Decimal('41128772'))]

## 2. Limpieza de datos
En este caso especifico no se limpiaran los valores nulos, puesto que si se sustituyen por: (0 o 1) nos darian divisiones por cero, o alterariamos de cierta manera los valores reales del dataset. 
Especificamente se cambiaran varios tipos de datos, se crearan columnas nuevas en base a eso mismo y por ultimo se eliminaran las columnas innecesarias (cabe resaltar que no es necesario y que puede no ser bueno del todo eliminar las columnas, pero en este caso especifico se hara)
Las siguientes lineas de codigo son para limpiar:

In [8]:
%%sql
ALTER TABLE covid
ADD gdp_per_capita_new NUMERIC

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [9]:
%%sql 
UPDATE covid
SET gdp_per_capita_new = gdp_per_capita::NUMERIC

 * postgresql://postgres:***@localhost:5432/postgres
240779 rows affected.

[]

In [10]:
%%sql 
ALTER TABLE covid
DROP COLUMN gdp_per_capita

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [11]:
%%sql 
ALTER TABLE covid
DROP COLUMN icu_patients_per_million

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [12]:
%%sql 
ALTER TABLE covid
DROP COLUMN hosp_patients_per_million

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [13]:
%%sql 
ALTER TABLE covid
DROP COLUMN total_tests_per_thousand

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [14]:
%%sql 
ALTER TABLE covid
DROP COLUMN positive_rate

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [16]:
%%sql 
ALTER TABLE covid
DROP COLUMN tests_per_case

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [17]:
%%sql 
ALTER TABLE covid
ADD people_vaccinated_per_hundred_new NUMERIC

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [18]:
%%sql 
UPDATE covid
SET people_vaccinated_per_hundred_new = people_vaccinated_per_hundred::NUMERIC

 * postgresql://postgres:***@localhost:5432/postgres
240779 rows affected.

[]

In [19]:
%%sql 
ALTER TABLE covid
DROP COLUMN people_vaccinated_per_hundred

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [20]:
%%sql 
ALTER TABLE covid
ADD total_vaccinations_per_hundred_new NUMERIC

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [21]:
%%sql 
UPDATE covid
SET total_vaccinations_per_hundred_new = total_vaccinations_per_hundred::NUMERIC

 * postgresql://postgres:***@localhost:5432/postgres
240779 rows affected.

[]

In [22]:
%%sql 
ALTER TABLE covid
DROP COLUMN total_vaccinations_per_hundred

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [23]:
%%sql 
ALTER TABLE covid
ADD people_fully_vaccinated_per_hundred_new NUMERIC

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [24]:
%%sql 
UPDATE covid
SET people_fully_vaccinated_per_hundred_new = people_fully_vaccinated_per_hundred::NUMERIC

 * postgresql://postgres:***@localhost:5432/postgres
240779 rows affected.

[]

In [26]:
%%sql
ALTER TABLE covid
DROP COLUMN people_fully_vaccinated_per_hundred

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [28]:
%%sql 
SELECT *
FROM covid
LIMIT 10

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('AFG', 'Asia', 'Afghanistan', datetime.date(2022, 2, 22), Decimal('172716'), Decimal('275'), Decimal('7569'), Decimal('20'), None, None, None, None, None, None, 'tests performed', None, None, None, None, Decimal('41128772'), Decimal('1803.987'), None, None, None),
 ('AFG', 'Asia', 'Afghanistan', datetime.date(2022, 2, 23), Decimal('172901'), Decimal('185'), Decimal('7574'), Decimal('5'), None, None, None, None, None, None, 'tests performed', None, None, None, None, Decimal('41128772'), Decimal('1803.987'), None, None, None),
 ('AFG', 'Asia', 'Afghanistan', datetime.date(2022, 2, 24), Decimal('173047'), Decimal('146'), Decimal('7578'), Decimal('4'), None, None, None, None, None, None, 'tests performed', None, None, None, None, Decimal('41128772'), Decimal('1803.987'), None, None, None),
 ('AFG', 'Asia', 'Afghanistan', datetime.date(2022, 2, 25), Decimal('173084'), Decimal('37'), Decimal('7579'), Decimal('1'), None, None, None, None, None, None, 'tests performed', None, None, None, None, Decimal('41128772'), Decimal('1803.987'), None, None, None),
 ('AFG', 'Asia', 'Afghanistan', datetime.date(2022, 2, 26), Decimal('173146'), Decimal('62'), Decimal('7585'), Decimal('6'), None, None, None, None, Decimal('889430'), None, 'tests performed', None, None, None, None, Decimal('41128772'), Decimal('1803.987'), None, None, None),
 ('AFG', 'Asia', 'Afghanistan', datetime.date(2022, 2, 27), Decimal('173395'), Decimal('249'), Decimal('7593'), Decimal('8'), None, None, None, None, None, None, 'tests performed', Decimal('5535254'), Decimal('4907058'), Decimal('4231984'), None, Decimal('41128772'), Decimal('1803.987'), Decimal('11.93'), Decimal('13.46'), Decimal('10.29')),
 ('AFG', 'Asia', 'Afghanistan', datetime.date(2022, 2, 28), Decimal('173659'), Decimal('264'), Decimal('7598'), Decimal('5'), None, None, None, None, None, None, 'tests performed', None, None, None, None, Decimal('41128772'), Decimal('1803.987'), None, None, None),
 ('AFG', 'Asia', 'Afghanistan', datetime.date(2022, 3, 1), Decimal('173879'), Decimal('220'), Decimal('7609'), Decimal('11'), None, None, None, None, None, None, 'tests performed', None, None, None, None, Decimal('41128772'), Decimal('1803.987'), None, None, None),
 ('AFG', 'Asia', 'Afghanistan', datetime.date(2022, 3, 2), Decimal('174073'), Decimal('194'), Decimal('7617'), Decimal('8'), None, None, None, None, None, None, 'tests performed', None, None, None, None, Decimal('41128772'), Decimal('1803.987'), None, None, None),
 ('AFG', 'Asia', 'Afghanistan', datetime.date(2022, 3, 3), Decimal('174214'), Decimal('141'), Decimal('7619'), Decimal('2'), None, None, None, None, None, None, 'tests performed', None, None, None, None, Decimal('41128772'), Decimal('1803.987'), None, None, None)]

## 3 Exploracion de datos
Comenzaremos a explorar los datos ya que se limpiaron lo suficiente como para manejarlos a nuestra manera.

### 3.1 ¿Cuantos casos y muertos hubieron en total  registrados?

In [29]:
%%sql
SELECT MAX(total_cases) AS maximo_de_casos, MAX(total_deaths) maximo_de_muertos
FROM covid

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(Decimal('646279659'), Decimal('6644641'))]

### 3.2 ¿Cual fue el pais con mayor numero de casos?

In [30]:
%%sql
SELECT country, MAX(total_cases) AS mayor_numero_casos
FROM covid
WHERE continent IS NOT NULL
GROUP BY country
ORDER BY mayor_numero_casos DESC
LIMIT 50

 * postgresql://postgres:***@localhost:5432/postgres
50 rows affected.

[('Northern Mariana Islands', None),
 ('Scotland', None),
 ('Jersey', None),
 ('England', None),
 ('Pitcairn', None),
 ('Tokelau', None),
 ('Guernsey', None),
 ('Guam', None),
 ('Puerto Rico', None),
 ('United States Virgin Islands', None),
 ('Sint Maarten (Dutch part)', None),
 ('Western Sahara', None),
 ('Niue', None),
 ('Northern Cyprus', None),
 ('Turkmenistan', None),
 ('Northern Ireland', None),
 ('Wales', None),
 ('United States', Decimal('99077996')),
 ('India', Decimal('44675172')),
 ('France', Decimal('38223893')),
 ('Germany', Decimal('36649979')),
 ('Brazil', Decimal('35396191')),
 ('South Korea', Decimal('27483568')),
 ('Japan', Decimal('25427492')),
 ('Italy', Decimal('24488080')),
 ('United Kingdom', Decimal('24024746')),
 ('Russia', Decimal('21322168')),
 ('Turkey', Decimal('16919638')),
 ('Spain', Decimal('13614807')),
 ('Vietnam', Decimal('11518511')),
 ('Australia', Decimal('10763649')),
 ('Argentina', Decimal('9739856')),
 ('Netherlands', Decimal('8558248')),
 ('Taiwan', Decimal('8395477')),
 ('Iran', Decimal('7559958')),
 ('Mexico', Decimal('7148886')),
 ('Indonesia', Decimal('6686181')),
 ('Poland', Decimal('6355424')),
 ('Colombia', Decimal('6314107')),
 ('Ukraine', Decimal('5647945')),
 ('Austria', Decimal('5588468')),
 ('Portugal', Decimal('5546290')),
 ('Greece', Decimal('5448700')),
 ('Malaysia', Decimal('5003557')),
 ('Chile', Decimal('4941227')),
 ('Israel', Decimal('4730493')),
 ('Thailand', Decimal('4711528')),
 ('Belgium', Decimal('4644478')),
 ('Czechia', Decimal('4562887')),
 ('Canada', Decimal('4453001'))]

### 3.3 ¿Cual fue el pais con mayor numero de muertes registradas?

In [31]:
%%sql
SELECT country, MAX(total_deaths) AS muertos_totales
FROM covid
WHERE continent IS NOT NULL
GROUP BY country
ORDER BY muertos_totales DESC
LIMIT 50

 * postgresql://postgres:***@localhost:5432/postgres
50 rows affected.

[('Northern Cyprus', None),
 ('England', None),
 ('Pitcairn', None),
 ('Falkland Islands', None),
 ('Guam', None),
 ('Turkmenistan', None),
 ('Saint Helena', None),
 ('Northern Mariana Islands', None),
 ('Tokelau', None),
 ('Northern Ireland', None),
 ('Sint Maarten (Dutch part)', None),
 ('Jersey', None),
 ('Wales', None),
 ('Vatican', None),
 ('Western Sahara', None),
 ('Scotland', None),
 ('Puerto Rico', None),
 ('Guernsey', None),
 ('Tuvalu', None),
 ('Niue', None),
 ('United States Virgin Islands', None),
 ('United States', Decimal('1082224')),
 ('Brazil', Decimal('690229')),
 ('India', Decimal('530638')),
 ('Russia', Decimal('384437')),
 ('Mexico', Decimal('330602')),
 ('Peru', Decimal('218299')),
 ('United Kingdom', Decimal('212296')),
 ('Italy', Decimal('181733')),
 ('Indonesia', Decimal('160071')),
 ('France', Decimal('159431')),
 ('Germany', Decimal('158559')),
 ('Iran', Decimal('144648')),
 ('Colombia', Decimal('141881')),
 ('Argentina', Decimal('130034')),
 ('Ukraine', Decimal('118491')),
 ('Poland', Decimal('118347')),
 ('Spain', Decimal('116108')),
 ('South Africa', Decimal('102464')),
 ('Turkey', Decimal('101203')),
 ('Romania', Decimal('67289')),
 ('Philippines', Decimal('64770')),
 ('Chile', Decimal('62597')),
 ('Japan', Decimal('50616')),
 ('Canada', Decimal('48297')),
 ('Hungary', Decimal('48287')),
 ('Vietnam', Decimal('43178')),
 ('Czechia', Decimal('41923')),
 ('Bulgaria', Decimal('38053')),
 ('Malaysia', Decimal('36732'))]

### 3.4 ¿Cual fue el porcentaje de muertos en base a sus casos?

In [32]:
%%sql
SELECT country, date_covid, total_cases, total_deaths, (total_deaths/total_cases)*100 AS muertos_casos_porcentaje
FROM covid
ORDER BY 1
LIMIT 50

 * postgresql://postgres:***@localhost:5432/postgres
50 rows affected.

[('Afghanistan', datetime.date(2022, 2, 23), Decimal('172901'), Decimal('7574'), Decimal('4.38054146592558747500')),
 ('Afghanistan', datetime.date(2022, 2, 24), Decimal('173047'), Decimal('7578'), Decimal('4.37915710760660398600')),
 ('Afghanistan', datetime.date(2022, 2, 25), Decimal('173084'), Decimal('7579'), Decimal('4.37879873356289431700')),
 ('Afghanistan', datetime.date(2022, 2, 26), Decimal('173146'), Decimal('7585'), Decimal('4.38069605997250875000')),
 ('Afghanistan', datetime.date(2022, 2, 27), Decimal('173395'), Decimal('7593'), Decimal('4.37901900285475359700')),
 ('Afghanistan', datetime.date(2022, 2, 28), Decimal('173659'), Decimal('7598'), Decimal('4.37524113348573929400')),
 ('Afghanistan', datetime.date(2022, 3, 1), Decimal('173879'), Decimal('7609'), Decimal('4.37603160818730266400')),
 ('Afghanistan', datetime.date(2022, 3, 2), Decimal('174073'), Decimal('7617'), Decimal('4.37575040356631987700')),
 ('Afghanistan', datetime.date(2022, 3, 3), Decimal('174214'), Decimal('7619'), Decimal('4.37335690587438437800')),
 ('Afghanistan', datetime.date(2022, 3, 4), Decimal('174214'), Decimal('7619'), Decimal('4.37335690587438437800')),
 ('Afghanistan', datetime.date(2022, 3, 5), Decimal('174331'), Decimal('7622'), Decimal('4.37214264818075959000')),
 ('Afghanistan', datetime.date(2022, 3, 6), Decimal('174582'), Decimal('7623'), Decimal('4.36642952881740385600')),
 ('Afghanistan', datetime.date(2022, 3, 7), Decimal('175000'), Decimal('7626'), Decimal('4.35771428571428571400')),
 ('Afghanistan', datetime.date(2022, 3, 8), Decimal('175353'), Decimal('7630'), Decimal('4.35122296168300513800')),
 ('Afghanistan', datetime.date(2022, 3, 9), Decimal('175525'), Decimal('7636'), Decimal('4.35037743911123771500')),
 ('Afghanistan', datetime.date(2022, 3, 10), Decimal('175893'), Decimal('7639'), Decimal('4.34298124427919246400')),
 ('Afghanistan', datetime.date(2022, 3, 11), Decimal('175974'), Decimal('7640'), Decimal('4.34155045631741052700')),
 ('Afghanistan', datetime.date(2022, 3, 12), Decimal('176039'), Decimal('7641'), Decimal('4.34051545396190616900')),
 ('Afghanistan', datetime.date(2022, 3, 13), Decimal('176201'), Decimal('7643'), Decimal('4.33765983166951379400')),
 ('Afghanistan', datetime.date(2022, 3, 14), Decimal('176409'), Decimal('7645'), Decimal('4.33367912067978391100')),
 ('Afghanistan', datetime.date(2022, 3, 15), Decimal('176571'), Decimal('7646'), Decimal('4.33026941003902113000')),
 ('Afghanistan', datetime.date(2022, 3, 16), Decimal('176743'), Decimal('7651'), Decimal('4.32888431224999009900')),
 ('Afghanistan', datetime.date(2022, 3, 17), Decimal('176918'), Decimal('7651'), Decimal('4.32460235815462530700')),
 ('Afghanistan', datetime.date(2022, 3, 18), Decimal('176983'), Decimal('7651'), Decimal('4.32301407479814445500')),
 ('Afghanistan', datetime.date(2022, 3, 19), Decimal('177039'), Decimal('7652'), Decimal('4.32221149012364507300')),
 ('Afghanistan', datetime.date(2022, 3, 20), Decimal('177093'), Decimal('7654'), Decimal('4.32202289192684070000')),
 ('Afghanistan', datetime.date(2022, 3, 21), Decimal('177191'), Decimal('7654'), Decimal('4.31963248697732954800')),
 ('Afghanistan', datetime.date(2022, 3, 22), Decimal('177255'), Decimal('7656'), Decimal('4.31920115088431920100')),
 ('Afghanistan', datetime.date(2022, 3, 23), Decimal('177321'), Decimal('7657'), Decimal('4.31815746583878954000')),
 ('Afghanistan', datetime.date(2022, 3, 24), Decimal('177321'), Decimal('7657'), Decimal('4.31815746583878954000')),
 ('Afghanistan', datetime.date(2022, 3, 25), Decimal('177321'), Decimal('7657'), Decimal('4.31815746583878954000')),
 ('Afghanistan', datetime.date(2022, 3, 26), Decimal('177321'), Decimal('7657'), Decimal('4.31815746583878954000')),
 ('Afghanistan', datetime.date(2022, 3, 27), Decimal('177520'), Decimal('7662'), Decimal('4.31613339342045966700')),
 ('Afghanistan', datetime.date(2022, 3, 28), Decimal('177602'), Decimal('7663'), Decimal('4.31470366324703550600')),
 ('Afghanistan', datetime.date(2022, 3, 29), Decimal('177658'), Decimal('7665'), Decimal('4.31446937374055770100')),
 ('Afghanistan', datetime.date(2022, 3, 30), Decimal('177716'), Decimal('7667'), Decimal('4.31418667987125526100')),
 ('Afghanistan', datetime.date(2022, 3, 31), Decimal('177747'), Decimal('7670'), Decimal('4.31512205550585945200')),
 ('Afghanistan', datetime.date(2022, 4, 1), Decimal('177782'), Decimal('7670'), Decimal('4.31427253602726935200')),
 ('Afghanistan', datetime.date(2022, 4, 2), Decimal('177803'), Decimal('7671'), Decimal('4.31432540508315382800')),
 ('Afghanistan', datetime.date(2022, 4, 3), Decimal('177827'), Decimal('7671'), Decimal('4.31374313237022499400')),
 ('Afghanistan', datetime.date(2022, 4, 4), Decimal('177897'), Decimal('7671'), Decimal('4.31204573432941533600')),
 ('Afghanistan', datetime.date(2022, 4, 5), Decimal('177932'), Decimal('7671'), Decimal('4.31119753613740080500')),
 ('Afghanistan', datetime.date(2022, 4, 6), Decimal('177974'), Decimal('7671'), Decimal('4.31018013867194084500')),
 ('Afghanistan', datetime.date(2022, 4, 7), Decimal('177974'), Decimal('7671'), Decimal('4.31018013867194084500')),
 ('Afghanistan', datetime.date(2022, 4, 8), Decimal('177974'), Decimal('7671'), Decimal('4.31018013867194084500')),
 ('Afghanistan', datetime.date(2022, 4, 9), Decimal('177974'), Decimal('7671'), Decimal('4.31018013867194084500')),
 ('Afghanistan', datetime.date(2022, 4, 10), Decimal('177974'), Decimal('7671'), Decimal('4.31018013867194084500')),
 ('Afghanistan', datetime.date(2022, 4, 11), Decimal('178141'), Decimal('7675'), Decimal('4.30838493103777344900')),
 ('Afghanistan', datetime.date(2022, 4, 12), Decimal('178257'), Decimal('7676'), Decimal('4.30614225528310248700')),
 ('Afghanistan', datetime.date(2022, 2, 22), Decimal('172716'), Decimal('7569'), Decimal('4.38233863683735149000'))]

### 3.5 ¿Cual fue el porcentaje de infectados en base a su poblacion?

In [46]:
%%sql
SELECT DISTINCT country, date_covid, total_cases, population, (total_cases/population)*100 AS casos_porcentaje
FROM covid
WHERE continent IS NOT NULL
LIMIT 50

 * postgresql://postgres:***@localhost:5432/postgres
50 rows affected.

[('Austria', datetime.date(2021, 12, 15), Decimal('1231043'), Decimal('8939617'), Decimal('13.77064587890062851700')),
 ('Belgium', datetime.date(2022, 2, 8), Decimal('3363890'), Decimal('11655923'), Decimal('28.85991954476706821100')),
 ('Cyprus', datetime.date(2022, 12, 5), Decimal('618248'), Decimal('896007'), Decimal('69.00035379187885808900')),
 ('Burundi', datetime.date(2021, 4, 9), Decimal('3078'), Decimal('12889583'), Decimal('0.02387974847595923000')),
 ('British Virgin Islands', datetime.date(2022, 10, 31), Decimal('7305'), Decimal('31332'), Decimal('23.31482190731520490200')),
 ('Argentina', datetime.date(2022, 9, 28), Decimal('9708420'), Decimal('45510324'), Decimal('21.33234648032828770900')),
 ('Curacao', datetime.date(2020, 8, 21), Decimal('37'), Decimal('191173'), Decimal('0.01935419750697012700')),
 ('Aruba', datetime.date(2021, 6, 27), Decimal('11131'), Decimal('106459'), Decimal('10.45566837937609784000')),
 ('Anguilla', datetime.date(2020, 11, 8), Decimal('3'), Decimal('15877'), Decimal('0.01889525729042010500')),
 ("Cote d'Ivoire", datetime.date(2021, 5, 7), Decimal('46344'), Decimal('28160548'), Decimal('0.16457066105389710500')),
 ('Benin', datetime.date(2021, 5, 30), Decimal('8058'), Decimal('13352864'), Decimal('0.06034660429403010500')),
 ('British Virgin Islands', datetime.date(2021, 7, 18), Decimal('2024'), Decimal('31332'), Decimal('6.45984935529171454100')),
 ('Afghanistan', datetime.date(2022, 3, 6), Decimal('174582'), Decimal('41128772'), Decimal('0.42447656837408128800')),
 ('Czechia', datetime.date(2020, 11, 27), Decimal('515984'), Decimal('10493990'), Decimal('4.91694770054097631100')),
 ('Cuba', datetime.date(2020, 5, 9), Decimal('1754'), Decimal('11212198'), Decimal('0.01564367664573886400')),
 ('Antigua and Barbuda', datetime.date(2020, 3, 18), Decimal('1'), Decimal('93772'), Decimal('0.001066416414281448620100')),
 ('Belarus', datetime.date(2022, 7, 6), Decimal('994037'), Decimal('9534956'), Decimal('10.42518706955753125700')),
 ('Antigua and Barbuda', datetime.date(2021, 6, 7), Decimal('1263'), Decimal('93772'), Decimal('1.34688393123746960700')),
 ('Chad', datetime.date(2021, 10, 18), Decimal('5069'), Decimal('17723312'), Decimal('0.02860074911506382100')),
 ('Denmark', datetime.date(2021, 8, 12), Decimal('327972'), Decimal('5882259'), Decimal('5.57561304254028936800')),
 ('Comoros', datetime.date(2021, 6, 12), Decimal('3899'), Decimal('836783'), Decimal('0.46595114862515132400')),
 ('Argentina', datetime.date(2021, 12, 30), Decimal('5606745'), Decimal('45510324'), Decimal('12.31972112525500807200')),
 ('Canada', datetime.date(2021, 1, 4), Decimal('621738'), Decimal('38454328'), Decimal('1.61682190883689347000')),
 ('Australia', datetime.date(2020, 8, 22), Decimal('24811'), Decimal('26177410'), Decimal('0.09478019406809153400')),
 ('Belarus', datetime.date(2021, 12, 7), Decimal('666137'), Decimal('9534956'), Decimal('6.98626191877550352600')),
 ('Bahrain', datetime.date(2020, 6, 10), Decimal('16200'), Decimal('1472237'), Decimal('1.10036631330417589000')),
 ('Congo', datetime.date(2022, 9, 19), Decimal('24837'), Decimal('5970430'), Decimal('0.41600018759117852500')),
 ('Belgium', datetime.date(2022, 1, 26), Decimal('2939439'), Decimal('11655923'), Decimal('25.21841470641149568300')),
 ('Antigua and Barbuda', datetime.date(2022, 9, 20), Decimal('9008'), Decimal('93772'), Decimal('9.60627905984728916900')),
 ('Dominica', datetime.date(2021, 5, 23), Decimal('184'), Decimal('72758'), Decimal('0.25289315264300832900')),
 ('Anguilla', datetime.date(2022, 10, 24), Decimal('3866'), Decimal('15877'), Decimal('24.34968822825470806800')),
 ('Bahamas', datetime.date(2022, 4, 6), Decimal('33315'), Decimal('409989'), Decimal('8.12582776611079809500')),
 ('Afghanistan', datetime.date(2022, 5, 1), Decimal('178899'), Decimal('41128772'), Decimal('0.43497287008714969700')),
 ('Anguilla', datetime.date(2022, 4, 23), Decimal('2731'), Decimal('15877'), Decimal('17.20098255337910184500')),
 ('Bhutan', datetime.date(2022, 8, 9), Decimal('60663'), Decimal('782457'), Decimal('7.75288610108926113500')),
 ('Barbados', datetime.date(2022, 7, 10), Decimal('86010'), Decimal('281646'), Decimal('30.53833535715046547800')),
 ('Belgium', datetime.date(2022, 3, 17), Decimal('3696059'), Decimal('11655923'), Decimal('31.70970673021776139000')),
 ('Burkina Faso', datetime.date(2022, 1, 15), Decimal('20127'), Decimal('22673764'), Decimal('0.08876779347266735200')),
 ('Austria', datetime.date(2021, 9, 17), Decimal('714748'), Decimal('8939617'), Decimal('7.99528659896727119300')),
 ('Australia', datetime.date(2020, 3, 23), Decimal('1682'), Decimal('26177410'), Decimal('0.006425387385535849421300')),
 ('Chile', datetime.date(2021, 7, 8), Decimal('1579591'), Decimal('19603736'), Decimal('8.05760187751967278100')),
 ('Belgium', datetime.date(2021, 9, 21), Decimal('1226682'), Decimal('11655923'), Decimal('10.52410864416314349400')),
 ('Djibouti', datetime.date(2021, 1, 18), Decimal('5905'), Decimal('1120851'), Decimal('0.52683184473226146900')),
 ('Czechia', datetime.date(2021, 4, 30), Decimal('1630758'), Decimal('10493990'), Decimal('15.53992332754271730800')),
 ('Belize', datetime.date(2022, 5, 2), Decimal('57497'), Decimal('405285'), Decimal('14.18680681495737567400')),
 ('Burkina Faso', datetime.date(2021, 6, 1), Decimal('13435'), Decimal('22673764'), Decimal('0.05925350550530560300')),
 ('Costa Rica', datetime.date(2020, 8, 1), Decimal('18187'), Decimal('5180836'), Decimal('0.35104373116616700500')),
 ('Canada', datetime.date(2021, 6, 20), Decimal('1413544'), Decimal('38454328'), Decimal('3.67590352898638613600')),
 ('Armenia', datetime.date(2021, 10, 9), Decimal('271205'), Decimal('2780472'), Decimal('9.75391947841949136700')),
 ('Cameroon', datetime.date(2022, 2, 11), Decimal('118675'), Decimal('27914542'), Decimal('0.42513683369764762800'))]

### 3.6 ¿Cual fue el porcentaje de muertos en base a su poblacion?

In [47]:
%%sql
SELECT DISTINCT country, date_covid, total_cases, total_deaths, (total_deaths/total_cases)*100 AS muertos_casos_porcentaje
FROM covid
LIMIT 50

 * postgresql://postgres:***@localhost:5432/postgres
50 rows affected.

[('Brunei', datetime.date(2021, 10, 16), Decimal('10356'), Decimal('68'), Decimal('0.65662417921977597500')),
 ('Austria', datetime.date(2022, 4, 9), Decimal('4001802'), Decimal('19295'), Decimal('0.48215778791654359700')),
 ('Anguilla', datetime.date(2021, 5, 3), Decimal('95'), None, None),
 ('Africa', datetime.date(2022, 1, 29), Decimal('10841290'), Decimal('238418'), Decimal('2.19916633537152866500')),
 ('Benin', datetime.date(2022, 1, 12), Decimal('26036'), Decimal('162'), Decimal('0.62221539406974957800')),
 ('Comoros', datetime.date(2021, 1, 12), Decimal('1166'), Decimal('30'), Decimal('2.57289879931389365400')),
 ('Bolivia', datetime.date(2020, 9, 27), Decimal('133901'), Decimal('7858'), Decimal('5.86851479824646567200')),
 ('China', datetime.date(2020, 2, 8), Decimal('36778'), Decimal('804'), Decimal('2.18608951003317200500')),
 ("Cote d'Ivoire", datetime.date(2020, 5, 24), Decimal('2376'), Decimal('30'), Decimal('1.26262626262626262600')),
 ('Bolivia', datetime.date(2022, 9, 8), Decimal('1105236'), Decimal('22212'), Decimal('2.00970652421745220000')),
 ('Denmark', datetime.date(2022, 8, 31), Decimal('3273205'), Decimal('6923'), Decimal('0.21150523722162223300')),
 ('Armenia', datetime.date(2021, 11, 19), Decimal('332713'), Decimal('7212'), Decimal('2.16763396681223757400')),
 ('Brunei', datetime.date(2022, 6, 18), Decimal('156452'), Decimal('225'), Decimal('0.14381407716104619900')),
 ('Australia', datetime.date(2020, 2, 1), Decimal('12'), None, None),
 ('Andorra', datetime.date(2021, 3, 4), Decimal('10976'), Decimal('112'), Decimal('1.02040816326530612200')),
 ('Central African Republic', datetime.date(2021, 10, 12), Decimal('11401'), Decimal('100'), Decimal('0.87711604245241645500')),
 ('Cyprus', datetime.date(2021, 5, 13), Decimal('71434'), Decimal('342'), Decimal('0.47876361396533863400')),
 ('Belgium', datetime.date(2021, 9, 16), Decimal('1217473'), Decimal('25494'), Decimal('2.09400947700688228800')),
 ('Brazil', datetime.date(2021, 3, 24), Decimal('12238343'), Decimal('301390'), Decimal('2.46266998726870132700')),
 ('Canada', datetime.date(2022, 2, 2), Decimal('3100943'), Decimal('34207'), Decimal('1.10311605211704955600')),
 ('Belgium', datetime.date(2022, 4, 16), Decimal('3972963'), Decimal('31165'), Decimal('0.78442713914023362400')),
 ('Chile', datetime.date(2022, 7, 19), Decimal('4145452'), Decimal('59140'), Decimal('1.42662368301454220200')),
 ('Cayman Islands', datetime.date(2020, 11, 7), Decimal('250'), Decimal('1'), Decimal('0.40000000000000000000')),
 ('Bermuda', datetime.date(2022, 10, 22), Decimal('18340'), Decimal('148'), Decimal('0.80697928026172301000')),
 ('Cameroon', datetime.date(2022, 11, 22), Decimal('123993'), Decimal('1965'), Decimal('1.58476688200140330500')),
 ('Belgium', datetime.date(2021, 4, 15), Decimal('939309'), Decimal('23636'), Decimal('2.51631784641688730800')),
 ('Botswana', datetime.date(2022, 4, 19), Decimal('305859'), Decimal('2688'), Decimal('0.87883632654262258100')),
 ('Botswana', datetime.date(2020, 12, 16), Decimal('12873'), Decimal('38'), Decimal('0.29519148605608638200')),
 ('China', datetime.date(2021, 3, 30), Decimal('98572'), Decimal('4817'), Decimal('4.88678326502455058200')),
 ('Comoros', datetime.date(2021, 3, 14), Decimal('3635'), Decimal('146'), Decimal('4.01650618982118294400')),
 ('Bulgaria', datetime.date(2020, 6, 23), Decimal('4114'), Decimal('208'), Decimal('5.05590666018473505100')),
 ('Australia', datetime.date(2020, 10, 14), Decimal('27357'), Decimal('904'), Decimal('3.30445589794202580700')),
 ('Cameroon', datetime.date(2021, 11, 26), Decimal('106794'), Decimal('1791'), Decimal('1.67706050901736052600')),
 ('Democratic Republic of Congo', datetime.date(2020, 8, 31), Decimal('10097'), Decimal('258'), Decimal('2.55521442012478954100')),
 ('Benin', datetime.date(2020, 12, 5), Decimal('3055'), Decimal('44'), Decimal('1.44026186579378068700')),
 ('Botswana', datetime.date(2020, 4, 27), Decimal('22'), Decimal('1'), Decimal('4.54545454545454545500')),
 ('Bolivia', datetime.date(2022, 5, 10), Decimal('905530'), Decimal('21925'), Decimal('2.42123397347409804200')),
 ('Colombia', datetime.date(2021, 6, 24), Decimal('4060013'), Decimal('102636'), Decimal('2.52797220107423301400')),
 ('Botswana', datetime.date(2022, 4, 12), Decimal('305859'), Decimal('2688'), Decimal('0.87883632654262258100')),
 ('Anguilla', datetime.date(2022, 7, 17), Decimal('3496'), Decimal('9'), Decimal('0.25743707093821510300')),
 ('Costa Rica', datetime.date(2020, 5, 24), Decimal('930'), Decimal('10'), Decimal('1.07526881720430107500')),
 ('Albania', datetime.date(2020, 3, 11), Decimal('12'), Decimal('1'), Decimal('8.33333333333333333300')),
 ("Cote d'Ivoire", datetime.date(2022, 3, 18), Decimal('81643'), Decimal('796'), Decimal('0.97497642173854463900')),
 ('Cape Verde', datetime.date(2020, 10, 19), Decimal('7800'), Decimal('87'), Decimal('1.11538461538461538500')),
 ('Botswana', datetime.date(2020, 9, 20), Decimal('2567'), Decimal('13'), Decimal('0.50642773665757693800')),
 ('Bangladesh', datetime.date(2020, 7, 13), Decimal('186894'), Decimal('2391'), Decimal('1.27933481010626344300')),
 ('Curacao', datetime.date(2021, 9, 29), Decimal('16465'), Decimal('162'), Decimal('0.98390525356817491600')),
 ("Cote d'Ivoire", datetime.date(2021, 8, 30), Decimal('55518'), Decimal('436'), Decimal('0.78533088367736589900')),
 ('Bonaire Sint Eustatius and Saba', datetime.date(2021, 10, 11), Decimal('2257'), Decimal('19'), Decimal('0.84182543198936641600')),
 ('Comoros', datetime.date(2021, 7, 3), Decimal('3957'), Decimal('146'), Decimal('3.68966388678291635100'))]

### 3.7 ¿Cuales fueron  los mayores casos en Estados Unidos?

In [49]:
%%sql
SELECT country, date_covid, MAX(new_cases) AS mayor_numero_casos 
FROM covid
WHERE country LIKE '%States%' 
GROUP BY country, date_covid, total_cases
ORDER BY mayor_numero_casos
LIMIT 50

 * postgresql://postgres:***@localhost:5432/postgres
50 rows affected.

[('United States', datetime.date(2020, 2, 20), Decimal('0')),
 ('United States', datetime.date(2020, 2, 19), Decimal('0')),
 ('United States', datetime.date(2020, 2, 23), Decimal('0')),
 ('United States', datetime.date(2020, 2, 5), Decimal('0')),
 ('United States', datetime.date(2020, 2, 25), Decimal('0')),
 ('United States', datetime.date(2020, 2, 8), Decimal('0')),
 ('United States', datetime.date(2020, 2, 9), Decimal('0')),
 ('United States', datetime.date(2020, 2, 24), Decimal('0')),
 ('United States', datetime.date(2020, 2, 28), Decimal('0')),
 ('United States', datetime.date(2020, 2, 22), Decimal('0')),
 ('United States', datetime.date(2020, 2, 1), Decimal('0')),
 ('United States', datetime.date(2020, 1, 27), Decimal('0')),
 ('United States', datetime.date(2020, 2, 4), Decimal('0')),
 ('United States', datetime.date(2020, 1, 28), Decimal('0')),
 ('United States', datetime.date(2020, 1, 25), Decimal('0')),
 ('United States', datetime.date(2020, 2, 7), Decimal('0')),
 ('United States', datetime.date(2020, 1, 30), Decimal('0')),
 ('United States', datetime.date(2020, 2, 26), Decimal('0')),
 ('United States', datetime.date(2020, 2, 10), Decimal('0')),
 ('United States', datetime.date(2020, 1, 23), Decimal('0')),
 ('United States', datetime.date(2020, 2, 12), Decimal('0')),
 ('United States', datetime.date(2020, 2, 14), Decimal('0')),
 ('United States', datetime.date(2020, 2, 2), Decimal('0')),
 ('United States', datetime.date(2020, 2, 15), Decimal('0')),
 ('United States', datetime.date(2020, 2, 16), Decimal('0')),
 ('United States', datetime.date(2020, 2, 17), Decimal('0')),
 ('United States', datetime.date(2020, 2, 18), Decimal('0')),
 ('United States', datetime.date(2020, 1, 24), Decimal('1')),
 ('United States', datetime.date(2020, 2, 13), Decimal('1')),
 ('United States', datetime.date(2020, 2, 11), Decimal('1')),
 ('United States', datetime.date(2020, 2, 27), Decimal('1')),
 ('United States', datetime.date(2020, 1, 29), Decimal('1')),
 ('United States', datetime.date(2020, 2, 6), Decimal('1')),
 ('United States', datetime.date(2020, 2, 21), Decimal('2')),
 ('United States', datetime.date(2020, 1, 31), Decimal('2')),
 ('United States', datetime.date(2020, 2, 3), Decimal('3')),
 ('United States', datetime.date(2020, 1, 26), Decimal('3')),
 ('United States', datetime.date(2020, 3, 1), Decimal('7')),
 ('United States', datetime.date(2020, 2, 29), Decimal('8')),
 ('United States', datetime.date(2020, 3, 3), Decimal('19')),
 ('United States', datetime.date(2020, 3, 2), Decimal('23')),
 ('United States', datetime.date(2020, 3, 4), Decimal('33')),
 ('United States', datetime.date(2020, 3, 6), Decimal('53')),
 ('United States', datetime.date(2020, 3, 9), Decimal('75')),
 ('United States', datetime.date(2020, 3, 5), Decimal('77')),
 ('United States', datetime.date(2020, 3, 8), Decimal('116')),
 ('United States', datetime.date(2020, 3, 7), Decimal('166')),
 ('United States', datetime.date(2020, 3, 10), Decimal('188')),
 ('United States', datetime.date(2020, 3, 15), Decimal('234')),
 ('United States', datetime.date(2020, 3, 11), Decimal('365'))]

### 3.8 ¿Cual fue el porcentaje de muertos en estados unidos en base a sus casos?

In [51]:
%%sql
SELECT DISTINCT country, date_covid, total_cases, total_deaths, (total_deaths/total_cases)*100 AS muertos_casos_porcentaje
FROM covid
WHERE country ILIKE '%states%'
LIMIT 50

 * postgresql://postgres:***@localhost:5432/postgres
50 rows affected.

[('United States', datetime.date(2020, 1, 22), Decimal('1'), None, None),
 ('United States', datetime.date(2020, 1, 23), Decimal('1'), None, None),
 ('United States', datetime.date(2020, 1, 24), Decimal('2'), None, None),
 ('United States', datetime.date(2020, 1, 25), Decimal('2'), None, None),
 ('United States', datetime.date(2020, 1, 26), Decimal('5'), None, None),
 ('United States', datetime.date(2020, 1, 27), Decimal('5'), None, None),
 ('United States', datetime.date(2020, 1, 28), Decimal('5'), None, None),
 ('United States', datetime.date(2020, 1, 29), Decimal('6'), None, None),
 ('United States', datetime.date(2020, 1, 30), Decimal('6'), None, None),
 ('United States', datetime.date(2020, 1, 31), Decimal('8'), None, None),
 ('United States', datetime.date(2020, 2, 1), Decimal('8'), None, None),
 ('United States', datetime.date(2020, 2, 2), Decimal('8'), None, None),
 ('United States', datetime.date(2020, 2, 3), Decimal('11'), None, None),
 ('United States', datetime.date(2020, 2, 4), Decimal('11'), None, None),
 ('United States', datetime.date(2020, 2, 5), Decimal('11'), None, None),
 ('United States', datetime.date(2020, 2, 6), Decimal('12'), None, None),
 ('United States', datetime.date(2020, 2, 7), Decimal('12'), None, None),
 ('United States', datetime.date(2020, 2, 8), Decimal('12'), None, None),
 ('United States', datetime.date(2020, 2, 9), Decimal('12'), None, None),
 ('United States', datetime.date(2020, 2, 10), Decimal('12'), None, None),
 ('United States', datetime.date(2020, 2, 11), Decimal('13'), None, None),
 ('United States', datetime.date(2020, 2, 12), Decimal('13'), None, None),
 ('United States', datetime.date(2020, 2, 13), Decimal('14'), None, None),
 ('United States', datetime.date(2020, 2, 14), Decimal('14'), None, None),
 ('United States', datetime.date(2020, 2, 15), Decimal('14'), None, None),
 ('United States', datetime.date(2020, 2, 16), Decimal('14'), None, None),
 ('United States', datetime.date(2020, 2, 17), Decimal('14'), None, None),
 ('United States', datetime.date(2020, 2, 18), Decimal('14'), None, None),
 ('United States', datetime.date(2020, 2, 19), Decimal('14'), None, None),
 ('United States', datetime.date(2020, 2, 20), Decimal('14'), None, None),
 ('United States', datetime.date(2020, 2, 21), Decimal('16'), None, None),
 ('United States', datetime.date(2020, 2, 22), Decimal('16'), None, None),
 ('United States', datetime.date(2020, 2, 23), Decimal('16'), None, None),
 ('United States', datetime.date(2020, 2, 24), Decimal('16'), None, None),
 ('United States', datetime.date(2020, 2, 25), Decimal('16'), None, None),
 ('United States', datetime.date(2020, 2, 26), Decimal('16'), None, None),
 ('United States', datetime.date(2020, 2, 27), Decimal('17'), None, None),
 ('United States', datetime.date(2020, 2, 28), Decimal('17'), None, None),
 ('United States', datetime.date(2020, 2, 29), Decimal('25'), Decimal('1'), Decimal('4.00000000000000000000')),
 ('United States', datetime.date(2020, 3, 1), Decimal('32'), Decimal('1'), Decimal('3.12500000000000000000')),
 ('United States', datetime.date(2020, 3, 2), Decimal('55'), Decimal('6'), Decimal('10.90909090909090909100')),
 ('United States', datetime.date(2020, 3, 3), Decimal('74'), Decimal('7'), Decimal('9.45945945945945945900')),
 ('United States', datetime.date(2020, 3, 4), Decimal('107'), Decimal('11'), Decimal('10.28037383177570093500')),
 ('United States', datetime.date(2020, 3, 5), Decimal('184'), Decimal('12'), Decimal('6.52173913043478260900')),
 ('United States', datetime.date(2020, 3, 6), Decimal('237'), Decimal('14'), Decimal('5.90717299578059071700')),
 ('United States', datetime.date(2020, 3, 7), Decimal('403'), Decimal('17'), Decimal('4.21836228287841191100')),
 ('United States', datetime.date(2020, 3, 8), Decimal('519'), Decimal('21'), Decimal('4.04624277456647398800')),
 ('United States', datetime.date(2020, 3, 9), Decimal('594'), Decimal('22'), Decimal('3.70370370370370370400')),
 ('United States', datetime.date(2020, 3, 10), Decimal('782'), Decimal('28'), Decimal('3.58056265984654731500')),
 ('United States', datetime.date(2020, 3, 11), Decimal('1147'), Decimal('33'), Decimal('2.87707061900610287700'))]

### 3.9 ¿Cual fue el porcentaje de personas muertas en base a su poblacion?

In [53]:
%%sql
SELECT DISTINCT country, date_covid, total_deaths, (total_deaths/population)*100 AS porcentaje_muertos
FROM covid
LIMIT 50

 * postgresql://postgres:***@localhost:5432/postgres
50 rows affected.

[('Dominican Republic', datetime.date(2021, 4, 19), Decimal('3422'), Decimal('0.03047514961722161200')),
 ('Djibouti', datetime.date(2021, 8, 2), Decimal('156'), Decimal('0.01391799623678794100')),
 ('Chad', datetime.date(2020, 5, 3), Decimal('10'), Decimal('0.000056422862724529139900')),
 ('Barbados', datetime.date(2020, 10, 16), Decimal('7'), Decimal('0.002485389460528464810400')),
 ('Cyprus', datetime.date(2021, 5, 13), Decimal('342'), Decimal('0.03816934465913770800')),
 ('Brazil', datetime.date(2021, 11, 29), Decimal('614659'), Decimal('0.28547164417518373600')),
 ('Cuba', datetime.date(2021, 7, 8), Decimal('1431'), Decimal('0.01276288556445399900')),
 ('Burundi', datetime.date(2022, 6, 22), Decimal('38'), Decimal('0.000294811709579743580500')),
 ('Democratic Republic of Congo', datetime.date(2022, 9, 5), Decimal('1405'), Decimal('0.001419045485164884399400')),
 ('Bermuda', datetime.date(2021, 4, 10), Decimal('14'), Decimal('0.02180447614746055700')),
 ('Djibouti', datetime.date(2021, 12, 10), Decimal('188'), Decimal('0.01677296982382136400')),
 ('Andorra', datetime.date(2022, 8, 9), Decimal('154'), Decimal('0.19287852410355322300')),
 ('Egypt', datetime.date(2021, 8, 6), Decimal('16562'), Decimal('0.014922052144184108102800')),
 ('Costa Rica', datetime.date(2020, 11, 20), Decimal('1608'), Decimal('0.03103746190769211800')),
 ('Central African Republic', datetime.date(2020, 4, 16), None, None),
 ('Algeria', datetime.date(2021, 10, 4), Decimal('5826'), Decimal('0.01297456833170212200')),
 ('Africa', datetime.date(2020, 3, 8), Decimal('1'), Decimal('7.00900215349768825700E-8')),
 ('Cyprus', datetime.date(2022, 5, 22), Decimal('1057'), Decimal('0.11796782837634081000')),
 ('Colombia', datetime.date(2021, 3, 19), Decimal('61771'), Decimal('0.11907885772818721500')),
 ('Andorra', datetime.date(2021, 8, 18), Decimal('129'), Decimal('0.16156707538544393400')),
 ('Asia', datetime.date(2021, 12, 15), Decimal('1241094'), Decimal('0.02628666013198585100')),
 ('Central African Republic', datetime.date(2021, 8, 15), Decimal('99'), Decimal('0.001774464488126143991900')),
 ('Bonaire Sint Eustatius and Saba', datetime.date(2022, 4, 3), Decimal('33'), Decimal('0.12198728374981517100')),
 ('Bahrain', datetime.date(2020, 11, 2), Decimal('322'), Decimal('0.02187147857308300200')),
 ('British Virgin Islands', datetime.date(2020, 5, 19), Decimal('1'), Decimal('0.003191625175539384654700')),
 ('Argentina', datetime.date(2021, 8, 7), Decimal('107302'), Decimal('0.23577507380523153400')),
 ('Bosnia and Herzegovina', datetime.date(2022, 10, 23), Decimal('16165'), Decimal('0.49991804622193083100')),
 ('Barbados', datetime.date(2020, 6, 3), Decimal('7'), Decimal('0.002485389460528464810400')),
 ('Egypt', datetime.date(2020, 7, 15), Decimal('4067'), Decimal('0.003664290911145801693900')),
 ('Burundi', datetime.date(2022, 6, 19), Decimal('38'), Decimal('0.000294811709579743580500')),
 ('Bolivia', datetime.date(2020, 4, 2), Decimal('8'), Decimal('0.000065444415848870519400')),
 ('China', datetime.date(2020, 12, 29), Decimal('4731'), Decimal('0.000331793389345985927000')),
 ('Denmark', datetime.date(2020, 6, 4), Decimal('582'), Decimal('0.009894158009703414963500')),
 ('Cambodia', datetime.date(2020, 4, 29), None, None),
 ('Barbados', datetime.date(2021, 8, 4), Decimal('48'), Decimal('0.01704267058648090200')),
 ('Albania', datetime.date(2022, 8, 2), Decimal('3550'), Decimal('0.12489805855643175700')),
 ('Burundi', datetime.date(2022, 3, 29), Decimal('38'), Decimal('0.000294811709579743580500')),
 ('Niue', datetime.date(2021, 9, 22), None, None),
 ('Croatia', datetime.date(2021, 5, 2), Decimal('7182'), Decimal('0.17819743690453535100')),
 ('Aruba', datetime.date(2021, 1, 27), Decimal('58'), Decimal('0.05448106782892944700')),
 ('Cape Verde', datetime.date(2022, 11, 4), Decimal('410'), Decimal('0.06912108327910419100')),
 ('Aruba', datetime.date(2021, 9, 2), Decimal('148'), Decimal('0.13902065583933721000')),
 ('Cyprus', datetime.date(2020, 11, 25), Decimal('46'), Decimal('0.005133888462924954827400')),
 ('Brazil', datetime.date(2021, 7, 4), Decimal('524703'), Decimal('0.24369256468001189600')),
 ('Democratic Republic of Congo', datetime.date(2021, 9, 11), Decimal('1068'), Decimal('0.001078676568082630988300')),
 ('Comoros', datetime.date(2022, 8, 2), Decimal('160'), Decimal('0.01912084734034988800')),
 ('Aruba', datetime.date(2021, 3, 26), Decimal('82'), Decimal('0.07702495796503818400')),
 ('Bangladesh', datetime.date(2020, 11, 11), Decimal('6127'), Decimal('0.003579140133401276438100')),
 ('Burundi', datetime.date(2021, 6, 7), Decimal('8'), Decimal('0.000062065623069419701200')),
 ('Bahrain', datetime.date(2022, 3, 15), Decimal('1464'), Decimal('0.09944051127637737700'))]

### 3.10 ¿Cuales fueron los continentes con el numero total mas alto de muertos?

In [56]:
%%sql
SELECT continent,  SUM(new_deaths) AS total_muertos
FROM covid
WHERE continent IS NOT NULL
GROUP BY continent
ORDER BY total_muertos DESC
LIMIT 3

 * postgresql://postgres:***@localhost:5432/postgres
3 rows affected.

[('Europe', Decimal('1985122')),
 ('North America', Decimal('1533676')),
 ('Asia', Decimal('1497093'))]

### 3.11 ¿Cuales fueron los continente con el numero total mas alto de casos?

In [59]:
%%sql
SELECT continent,  SUM(new_cases) AS total_casos
FROM covid
WHERE continent IS NOT NULL
GROUP BY continent
ORDER BY total_casos DESC
LIMIT 3

 * postgresql://postgres:***@localhost:5432/postgres
3 rows affected.

[('Europe', Decimal('241210254')),
 ('Asia', Decimal('195344057')),
 ('North America', Decimal('117316748'))]

### 3.12 ¿Se puede encontrar la manera de tener la vacunacion en la fecha anterior y posterior?

In [61]:
%%sql
WITH paises_vacunados AS (SELECT country, date_covid, MAX(total_vaccinations) AS maximo
						  FROM covid
						  WHERE continent IS NOT NULL
						  GROUP BY country, date_covid
						  HAVING MAX(total_vaccinations) IS NOT NULL),
						  pais_acumulativos AS (SELECT country, date_covid, maximo,
						  						LAG(maximo, 1) OVER(ORDER BY maximo DESC) AS posterior
						  						FROM paises_vacunados)
SELECT country, date_covid, maximo, posterior
FROM pais_acumulativos
ORDER BY 1, 2
LIMIT 150

 * postgresql://postgres:***@localhost:5432/postgres
150 rows affected.

[('Afghanistan', datetime.date(2021, 2, 22), Decimal('0'), Decimal('0')),
 ('Afghanistan', datetime.date(2021, 2, 28), Decimal('8200'), Decimal('8237')),
 ('Afghanistan', datetime.date(2021, 3, 16), Decimal('54000'), Decimal('54025')),
 ('Afghanistan', datetime.date(2021, 4, 7), Decimal('120000'), Decimal('120027')),
 ('Afghanistan', datetime.date(2021, 4, 22), Decimal('240000'), Decimal('240002')),
 ('Afghanistan', datetime.date(2021, 5, 11), Decimal('504502'), Decimal('504529')),
 ('Afghanistan', datetime.date(2021, 5, 20), Decimal('547901'), Decimal('547953')),
 ('Afghanistan', datetime.date(2021, 5, 24), Decimal('573277'), Decimal('573412')),
 ('Afghanistan', datetime.date(2021, 5, 26), Decimal('590454'), Decimal('590487')),
 ('Afghanistan', datetime.date(2021, 5, 27), Decimal('593313'), Decimal('593406')),
 ('Afghanistan', datetime.date(2021, 5, 30), Decimal('600152'), Decimal('600216')),
 ('Afghanistan', datetime.date(2021, 6, 2), Decimal('626290'), Decimal('626343')),
 ('Afghanistan', datetime.date(2021, 6, 3), Decimal('630305'), Decimal('630634')),
 ('Afghanistan', datetime.date(2021, 6, 8), Decimal('641295'), Decimal('641443')),
 ('Afghanistan', datetime.date(2021, 6, 14), Decimal('662003'), Decimal('662063')),
 ('Afghanistan', datetime.date(2021, 6, 22), Decimal('765890'), Decimal('766159')),
 ('Afghanistan', datetime.date(2021, 6, 27), Decimal('835694'), Decimal('835997')),
 ('Afghanistan', datetime.date(2021, 6, 30), Decimal('886854'), Decimal('886996')),
 ('Afghanistan', datetime.date(2021, 7, 5), Decimal('915671'), Decimal('915724')),
 ('Afghanistan', datetime.date(2021, 7, 7), Decimal('934463'), Decimal('934529')),
 ('Afghanistan', datetime.date(2021, 7, 11), Decimal('962093'), Decimal('962165')),
 ('Afghanistan', datetime.date(2021, 7, 14), Decimal('1024168'), Decimal('1024333')),
 ('Afghanistan', datetime.date(2021, 7, 18), Decimal('1094257'), Decimal('1094400')),
 ('Afghanistan', datetime.date(2021, 7, 24), Decimal('1171064'), Decimal('1171113')),
 ('Afghanistan', datetime.date(2021, 8, 20), Decimal('1201286'), Decimal('1201290')),
 ('Afghanistan', datetime.date(2021, 8, 31), Decimal('1979652'), Decimal('1979734')),
 ('Afghanistan', datetime.date(2021, 9, 30), Decimal('2369625'), Decimal('2370435')),
 ('Afghanistan', datetime.date(2021, 11, 14), Decimal('4018197'), Decimal('4018221')),
 ('Afghanistan', datetime.date(2021, 12, 27), Decimal('4674518'), Decimal('4674897')),
 ('Afghanistan', datetime.date(2022, 1, 9), Decimal('4903368'), Decimal('4904588')),
 ('Afghanistan', datetime.date(2022, 1, 11), Decimal('4925111'), Decimal('4925388')),
 ('Afghanistan', datetime.date(2022, 1, 13), Decimal('4954809'), Decimal('4955746')),
 ('Afghanistan', datetime.date(2022, 1, 17), Decimal('4985047'), Decimal('4986471')),
 ('Afghanistan', datetime.date(2022, 1, 19), Decimal('5004050'), Decimal('5004650')),
 ('Afghanistan', datetime.date(2022, 1, 24), Decimal('5046054'), Decimal('5046209')),
 ('Afghanistan', datetime.date(2022, 1, 26), Decimal('5074196'), Decimal('5074458')),
 ('Afghanistan', datetime.date(2022, 1, 27), Decimal('5081064'), Decimal('5081924')),
 ('Afghanistan', datetime.date(2022, 1, 31), Decimal('5125146'), Decimal('5125206')),
 ('Afghanistan', datetime.date(2022, 2, 2), Decimal('5152297'), Decimal('5152521')),
 ('Afghanistan', datetime.date(2022, 2, 7), Decimal('5216998'), Decimal('5217248')),
 ('Afghanistan', datetime.date(2022, 2, 14), Decimal('5321308'), Decimal('5321817')),
 ('Afghanistan', datetime.date(2022, 2, 20), Decimal('5412309'), Decimal('5412691')),
 ('Afghanistan', datetime.date(2022, 2, 27), Decimal('5535254'), Decimal('5536170')),
 ('Afghanistan', datetime.date(2022, 3, 6), Decimal('5597130'), Decimal('5597294')),
 ('Afghanistan', datetime.date(2022, 3, 17), Decimal('5731146'), Decimal('5731178')),
 ('Afghanistan', datetime.date(2022, 3, 22), Decimal('5751015'), Decimal('5751090')),
 ('Afghanistan', datetime.date(2022, 4, 4), Decimal('5872684'), Decimal('5874572')),
 ('Afghanistan', datetime.date(2022, 4, 14), Decimal('5940400'), Decimal('5942262')),
 ('Afghanistan', datetime.date(2022, 4, 18), Decimal('5948889'), Decimal('5949619')),
 ('Afghanistan', datetime.date(2022, 4, 26), Decimal('5985756'), Decimal('5986139')),
 ('Afghanistan', datetime.date(2022, 4, 27), Decimal('5986139'), Decimal('5986480')),
 ('Afghanistan', datetime.date(2022, 5, 5), Decimal('6021468'), Decimal('6022878')),
 ('Afghanistan', datetime.date(2022, 5, 8), Decimal('6023425'), Decimal('6028417')),
 ('Afghanistan', datetime.date(2022, 5, 10), Decimal('6029737'), Decimal('6032028')),
 ('Afghanistan', datetime.date(2022, 5, 15), Decimal('6066579'), Decimal('6067191')),
 ('Afghanistan', datetime.date(2022, 5, 23), Decimal('6118557'), Decimal('6119298')),
 ('Afghanistan', datetime.date(2022, 6, 1), Decimal('6171652'), Decimal('6172159')),
 ('Afghanistan', datetime.date(2022, 6, 15), Decimal('6295222'), Decimal('6297426')),
 ('Afghanistan', datetime.date(2022, 6, 21), Decimal('6355931'), Decimal('6357198')),
 ('Afghanistan', datetime.date(2022, 6, 27), Decimal('6408475'), Decimal('6409139')),
 ('Afghanistan', datetime.date(2022, 6, 30), Decimal('6445359'), Decimal('6447032')),
 ('Afghanistan', datetime.date(2022, 7, 10), Decimal('6491111'), Decimal('6491476')),
 ('Afghanistan', datetime.date(2022, 7, 17), Decimal('6706843'), Decimal('6707633')),
 ('Afghanistan', datetime.date(2022, 7, 19), Decimal('7885045'), Decimal('7886704')),
 ('Afghanistan', datetime.date(2022, 7, 27), Decimal('8040605'), Decimal('8040954')),
 ('Afghanistan', datetime.date(2022, 8, 7), Decimal('9822860'), Decimal('9824116')),
 ('Afghanistan', datetime.date(2022, 8, 15), Decimal('11216694'), Decimal('11218208')),
 ('Afghanistan', datetime.date(2022, 8, 22), Decimal('11391703'), Decimal('11392534')),
 ('Afghanistan', datetime.date(2022, 8, 31), Decimal('11562525'), Decimal('11562620')),
 ('Afghanistan', datetime.date(2022, 9, 4), Decimal('11588893'), Decimal('11590422')),
 ('Afghanistan', datetime.date(2022, 9, 11), Decimal('11725188'), Decimal('11726084')),
 ('Afghanistan', datetime.date(2022, 9, 12), Decimal('11734635'), Decimal('11735049')),
 ('Afghanistan', datetime.date(2022, 9, 19), Decimal('11820186'), Decimal('11820404')),
 ('Afghanistan', datetime.date(2022, 9, 26), Decimal('11868997'), Decimal('11871309')),
 ('Afghanistan', datetime.date(2022, 9, 28), Decimal('11881035'), Decimal('11881977')),
 ('Afghanistan', datetime.date(2022, 10, 4), Decimal('11923733'), Decimal('11923771')),
 ('Afghanistan', datetime.date(2022, 10, 11), Decimal('11951964'), Decimal('11955726')),
 ('Afghanistan', datetime.date(2022, 10, 16), Decimal('11977773'), Decimal('11977805')),
 ('Afghanistan', datetime.date(2022, 10, 24), Decimal('12055358'), Decimal('12055538')),
 ('Afghanistan', datetime.date(2022, 11, 1), Decimal('12103780'), Decimal('12104193')),
 ('Afghanistan', datetime.date(2022, 11, 2), Decimal('12140367'), Decimal('12141544')),
 ('Afghanistan', datetime.date(2022, 11, 8), Decimal('12174141'), Decimal('12174532')),
 ('Afghanistan', datetime.date(2022, 11, 15), Decimal('12202136'), Decimal('12202442')),
 ('Afghanistan', datetime.date(2022, 11, 16), Decimal('12216936'), Decimal('12217041')),
 ('Afghanistan', datetime.date(2022, 11, 27), Decimal('12275911'), Decimal('12276387')),
 ('Albania', datetime.date(2021, 1, 10), Decimal('0'), Decimal('0')),
 ('Albania', datetime.date(2021, 1, 12), Decimal('128'), Decimal('139')),
 ('Albania', datetime.date(2021, 1, 13), Decimal('188'), Decimal('191')),
 ('Albania', datetime.date(2021, 1, 14), Decimal('266'), Decimal('270')),
 ('Albania', datetime.date(2021, 1, 15), Decimal('308'), Decimal('319')),
 ('Albania', datetime.date(2021, 1, 16), Decimal('369'), Decimal('375')),
 ('Albania', datetime.date(2021, 1, 17), Decimal('405'), Decimal('417')),
 ('Albania', datetime.date(2021, 1, 18), Decimal('447'), Decimal('452')),
 ('Albania', datetime.date(2021, 1, 19), Decimal('483'), Decimal('509')),
 ('Albania', datetime.date(2021, 1, 20), Decimal('519'), Decimal('522')),
 ('Albania', datetime.date(2021, 1, 21), Decimal('549'), Decimal('550')),
 ('Albania', datetime.date(2021, 2, 2), Decimal('550'), Decimal('560')),
 ('Albania', datetime.date(2021, 2, 9), Decimal('1127'), Decimal('1132')),
 ('Albania', datetime.date(2021, 2, 17), Decimal('1701'), Decimal('1702')),
 ('Albania', datetime.date(2021, 2, 18), Decimal('3049'), Decimal('3051')),
 ('Albania', datetime.date(2021, 2, 19), Decimal('4177'), Decimal('4209')),
 ('Albania', datetime.date(2021, 2, 22), Decimal('6728'), Decimal('6738')),
 ('Albania', datetime.date(2021, 2, 25), Decimal('10135'), Decimal('10142')),
 ('Albania', datetime.date(2021, 3, 1), Decimal('14295'), Decimal('14297')),
 ('Albania', datetime.date(2021, 3, 3), Decimal('15793'), Decimal('15837')),
 ('Albania', datetime.date(2021, 3, 10), Decimal('21613'), Decimal('21631')),
 ('Albania', datetime.date(2021, 3, 12), Decimal('23635'), Decimal('23640')),
 ('Albania', datetime.date(2021, 3, 17), Decimal('33369'), Decimal('33371')),
 ('Albania', datetime.date(2021, 3, 22), Decimal('48229'), Decimal('48236')),
 ('Albania', datetime.date(2021, 3, 23), Decimal('51690'), Decimal('51697')),
 ('Albania', datetime.date(2021, 3, 24), Decimal('53992'), Decimal('53993')),
 ('Albania', datetime.date(2021, 3, 25), Decimal('59348'), Decimal('59351')),
 ('Albania', datetime.date(2021, 3, 26), Decimal('62248'), Decimal('62263')),
 ('Albania', datetime.date(2021, 3, 27), Decimal('64075'), Decimal('64078')),
 ('Albania', datetime.date(2021, 3, 28), Decimal('78000'), Decimal('78008')),
 ('Albania', datetime.date(2021, 3, 30), Decimal('119321'), Decimal('119348')),
 ('Albania', datetime.date(2021, 3, 31), Decimal('138846'), Decimal('138914')),
 ('Albania', datetime.date(2021, 4, 1), Decimal('155463'), Decimal('155501')),
 ('Albania', datetime.date(2021, 4, 2), Decimal('172486'), Decimal('172490')),
 ('Albania', datetime.date(2021, 4, 3), Decimal('185496'), Decimal('185533')),
 ('Albania', datetime.date(2021, 4, 4), Decimal('192882'), Decimal('192938')),
 ('Albania', datetime.date(2021, 4, 5), Decimal('206708'), Decimal('206708')),
 ('Albania', datetime.date(2021, 4, 6), Decimal('221588'), Decimal('221595')),
 ('Albania', datetime.date(2021, 4, 7), Decimal('232379'), Decimal('232413')),
 ('Albania', datetime.date(2021, 4, 8), Decimal('242542'), Decimal('242600')),
 ('Albania', datetime.date(2021, 4, 9), Decimal('250676'), Decimal('250781')),
 ('Albania', datetime.date(2021, 4, 10), Decimal('256810'), Decimal('256892')),
 ('Albania', datetime.date(2021, 4, 12), Decimal('267531'), Decimal('267644')),
 ('Albania', datetime.date(2021, 4, 13), Decimal('281216'), Decimal('281244')),
 ('Albania', datetime.date(2021, 4, 15), Decimal('304488'), Decimal('304528')),
 ('Albania', datetime.date(2021, 4, 16), Decimal('314622'), Decimal('314687')),
 ('Albania', datetime.date(2021, 4, 17), Decimal('324840'), Decimal('325053')),
 ('Albania', datetime.date(2021, 4, 18), Decimal('332905'), Decimal('332929')),
 ('Albania', datetime.date(2021, 4, 19), Decimal('345934'), Decimal('345994')),
 ('Albania', datetime.date(2021, 4, 20), Decimal('350000'), Decimal('350003')),
 ('Albania', datetime.date(2021, 4, 21), Decimal('372075'), Decimal('372083')),
 ('Albania', datetime.date(2021, 4, 22), Decimal('382998'), Decimal('383220')),
 ('Albania', datetime.date(2021, 4, 23), Decimal('391351'), Decimal('391359')),
 ('Albania', datetime.date(2021, 4, 24), Decimal('400064'), Decimal('400096')),
 ('Albania', datetime.date(2021, 4, 26), Decimal('408619'), Decimal('408754')),
 ('Albania', datetime.date(2021, 4, 27), Decimal('416855'), Decimal('416878')),
 ('Albania', datetime.date(2021, 4, 28), Decimal('433628'), Decimal('433716')),
 ('Albania', datetime.date(2021, 4, 29), Decimal('453248'), Decimal('453259')),
 ('Albania', datetime.date(2021, 4, 30), Decimal('476903'), Decimal('476917')),
 ('Albania', datetime.date(2021, 5, 1), Decimal('494028'), Decimal('494079')),
 ('Albania', datetime.date(2021, 5, 3), Decimal('517501'), Decimal('517901')),
 ('Albania', datetime.date(2021, 5, 4), Decimal('537387'), Decimal('537467')),
 ('Albania', datetime.date(2021, 5, 5), Decimal('556584'), Decimal('556597')),
 ('Albania', datetime.date(2021, 5, 6), Decimal('572226'), Decimal('572266')),
 ('Albania', datetime.date(2021, 5, 7), Decimal('585693'), Decimal('585731'))]

### 3.13 ¿Cual es el continente con la mayor cantidad de personas vacunadas?

In [62]:
%%sql
SELECT DISTINCT continent, MAX(people_vaccinated) AS personas_vacunadas
FROM covid
WHERE people_vaccinated IS NOT NULL AND continent IS NOT NULL
GROUP BY continent
ORDER BY personas_vacunadas DESC
LIMIT 1

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Asia', Decimal('1304631000'))]

### 3.14 ¿Se puede relacionar el GDP per capita?

In [63]:
%%sql
SELECT DISTINCT country, MAX(people_vaccinated_per_hundred_new) AS personas_vacunadas_cada_100, MAX(gdp_per_capita_new) AS maximo_gdp_per_capita
FROM covid
WHERE gdp_per_capita_new IS NOT NULL AND people_vaccinated_per_hundred_new IS NOT NULL
GROUP BY country
HAVING MAX(people_vaccinated_per_hundred_new) < 100
ORDER BY personas_vacunadas_cada_100 DESC, maximo_gdp_per_capita DESC
LIMIT 50

 * postgresql://postgres:***@localhost:5432/postgres
50 rows affected.

[('Portugal', Decimal('95.12'), Decimal('27936.896')),
 ('Macao', Decimal('93.89'), Decimal('104861.851')),
 ('Chile', Decimal('92.23'), Decimal('22767.037')),
 ('Hong Kong', Decimal('92.16'), Decimal('56054.92')),
 ('Vietnam', Decimal('91.82'), Decimal('6171.884')),
 ('China', Decimal('91.5'), Decimal('15308.712')),
 ('Singapore', Decimal('91.47'), Decimal('85535.383')),
 ('Argentina', Decimal('90.92'), Decimal('18933.907')),
 ('Cambodia', Decimal('90.81'), Decimal('3645.07')),
 ('Nauru', Decimal('90.79'), Decimal('12895.635')),
 ('Cayman Islands', Decimal('89.95'), Decimal('49903.029')),
 ('Malta', Decimal('89.72'), Decimal('36513.323')),
 ('Nepal', Decimal('89.69'), Decimal('2442.804')),
 ('Canada', Decimal('89.42'), Decimal('44017.591')),
 ('Bhutan', Decimal('89.35'), Decimal('8708.597')),
 ('Peru', Decimal('88.48'), Decimal('12236.706')),
 ('Nicaragua', Decimal('88.4'), Decimal('5321.444')),
 ('Uruguay', Decimal('87.72'), Decimal('20551.409')),
 ('Costa Rica', Decimal('87.66'), Decimal('15524.995')),
 ('Brazil', Decimal('87.35'), Decimal('14103.452')),
 ('Bangladesh', Decimal('87.12'), Decimal('3523.984')),
 ('South Korea', Decimal('87.1'), Decimal('35938.374')),
 ('Spain', Decimal('86.86'), Decimal('34272.36')),
 ('Mauritius', Decimal('86.48'), Decimal('20292.745')),
 ('Italy', Decimal('86.15'), Decimal('35220.084')),
 ('Tonga', Decimal('86.04'), Decimal('5425.621')),
 ('Ecuador', Decimal('85.02'), Decimal('10581.936')),
 ('Australia', Decimal('84.95'), Decimal('44648.71')),
 ('Tuvalu', Decimal('84.72'), Decimal('3575.104')),
 ('Aruba', Decimal('84.63'), Decimal('35973.781')),
 ('Bahrain', Decimal('84.3'), Decimal('43290.705')),
 ('Japan', Decimal('84.26'), Decimal('39002.223')),
 ('Iceland', Decimal('83.07'), Decimal('46482.958')),
 ('New Zealand', Decimal('82.9'), Decimal('36085.843')),
 ('Malaysia', Decimal('82.85'), Decimal('26808.164')),
 ('Colombia', Decimal('82.67'), Decimal('13254.949')),
 ('Ireland', Decimal('81.69'), Decimal('67335.293')),
 ('Denmark', Decimal('81.65'), Decimal('46682.515')),
 ('Finland', Decimal('81.64'), Decimal('40585.721')),
 ('Kuwait', Decimal('80.9'), Decimal('65530.537')),
 ('France', Decimal('80.53'), Decimal('38605.671')),
 ('United States', Decimal('80.52'), Decimal('54225.446')),
 ('Seychelles', Decimal('80.01'), Decimal('26382.287')),
 ('Norway', Decimal('79.99'), Decimal('64800.057')),
 ('United Kingdom', Decimal('79.71'), Decimal('39753.244')),
 ('Panama', Decimal('79.71'), Decimal('22267.037')),
 ('Thailand', Decimal('79.51'), Decimal('16277.671')),
 ('Belgium', Decimal('79.47'), Decimal('42658.576')),
 ('Sri Lanka', Decimal('78.53'), Decimal('11669.077')),
 ('Venezuela', Decimal('78.29'), Decimal('16745.022'))]

### 3.15 ¿Cual es la diferencia entre personas totalmente vacunadas y las que solo estan vacunadas?

In [64]:
%%sql
SELECT country, MAX(people_vaccinated) AS personas_vacunadas, MAX(people_fully_vaccinated) AS personas_totalmente_vacunadas
FROM covid
GROUP BY country
ORDER BY 1
LIMIT 50

 * postgresql://postgres:***@localhost:5432/postgres
50 rows affected.

[('Afghanistan', Decimal('11292816'), Decimal('10587076')),
 ('Africa', Decimal('452070900'), Decimal('364662109')),
 ('Albania', Decimal('1340678'), Decimal('1268200')),
 ('Algeria', Decimal('7840131'), Decimal('6481186')),
 ('Andorra', Decimal('57901'), Decimal('53485')),
 ('Angola', Decimal('14220830'), Decimal('7814121')),
 ('Anguilla', Decimal('10852'), Decimal('10373')),
 ('Antigua and Barbuda', Decimal('64290'), Decimal('62384')),
 ('Argentina', Decimal('41376428'), Decimal('37879198')),
 ('Armenia', Decimal('1129669'), Decimal('985807')),
 ('Aruba', Decimal('90093'), Decimal('83924')),
 ('Asia', Decimal('3631755159'), Decimal('3405667536')),
 ('Australia', Decimal('22236983'), Decimal('21656235')),
 ('Austria', Decimal('6894948'), Decimal('6822703')),
 ('Azerbaijan', Decimal('5373253'), Decimal('4862494')),
 ('Bahamas', Decimal('174147'), Decimal('165633')),
 ('Bahrain', Decimal('1241104'), Decimal('1226717')),
 ('Bangladesh', Decimal('149130860'), Decimal('125670627')),
 ('Barbados', Decimal('163777'), Decimal('154951')),
 ('Belarus', Decimal('6512419'), Decimal('6395779')),
 ('Belgium', Decimal('9263023'), Decimal('9165690')),
 ('Belize', Decimal('251773'), Decimal('221201')),
 ('Benin', Decimal('3209393'), Decimal('2692837')),
 ('Bermuda', Decimal('48554'), Decimal('47657')),
 ('Bhutan', Decimal('699116'), Decimal('677669')),
 ('Bolivia', Decimal('7361008'), Decimal('6160585')),
 ('Bonaire Sint Eustatius and Saba', Decimal('19109'), Decimal('16736')),
 ('Bosnia and Herzegovina', Decimal('943394'), Decimal('846080')),
 ('Botswana', Decimal('1679676'), Decimal('1412496')),
 ('Brazil', Decimal('188083919'), Decimal('174169937')),
 ('British Virgin Islands', Decimal('19466'), Decimal('18261')),
 ('Brunei', Decimal('450404'), Decimal('445929')),
 ('Bulgaria', Decimal('2104168'), Decimal('2074185')),
 ('Burkina Faso', Decimal('3079151'), Decimal('2658480')),
 ('Burundi', Decimal('26110'), Decimal('25526')),
 ('Cambodia', Decimal('15226312'), Decimal('14590810')),
 ('Cameroon', Decimal('1651151'), Decimal('1298666')),
 ('Canada', Decimal('34384986'), Decimal('31695952')),
 ('Cape Verde', Decimal('356734'), Decimal('308720')),
 ('Cayman Islands', Decimal('61818'), Decimal('60499')),
 ('Central African Republic', Decimal('1748700'), Decimal('1658308')),
 ('Chad', Decimal('3749370'), Decimal('3621866')),
 ('Chile', Decimal('18080462'), Decimal('17692862')),
 ('China', Decimal('1304631000'), Decimal('1272830000')),
 ('Colombia', Decimal('42886655'), Decimal('36848923')),
 ('Comoros', Decimal('438825'), Decimal('397080')),
 ('Congo', Decimal('695760'), Decimal('654119')),
 ('Cook Islands', Decimal('15084'), Decimal('14715')),
 ('Costa Rica', Decimal('4541315'), Decimal('4239098')),
 ("Cote d'Ivoire", Decimal('12340126'), Decimal('10429385'))]

### 3.16 ¿Cual es el pais con el mayor numero de personas totalmente vacunados?

In [65]:
%%sql
SELECT country, MAX(people_fully_vaccinated) AS totalmente_vacunados
FROM covid
WHERE people_fully_vaccinated IS NOT NULL AND continent IS NOT NULL
GROUP BY country
ORDER BY totalmente_vacunados DESC
LIMIT 1

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('China', Decimal('1272830000'))]

### 3.17 ¿Cuales paises superan el porcentaje de ingresados a cuidados intensivos?

In [70]:
%%sql
SELECT DISTINCT country, date_covid, icu_patients
FROM covid
WHERE icu_patients > (SELECT AVG(icu_patients)
					 FROM covid)
LIMIT 20

 * postgresql://postgres:***@localhost:5432/postgres
20 rows affected.

[('South Africa', datetime.date(2021, 3, 9), Decimal('910')),
 ('Netherlands', datetime.date(2020, 4, 27), Decimal('905')),
 ('Germany', datetime.date(2021, 3, 22), Decimal('3150')),
 ('Germany', datetime.date(2022, 7, 28), Decimal('1553')),
 ('Romania', datetime.date(2021, 1, 31), Decimal('989')),
 ('Czechia', datetime.date(2021, 12, 16), Decimal('879')),
 ('Chile', datetime.date(2020, 8, 26), Decimal('1004')),
 ('United Kingdom', datetime.date(2021, 2, 22), Decimal('2273')),
 ('United States', datetime.date(2021, 5, 21), Decimal('6664')),
 ('United Kingdom', datetime.date(2021, 8, 9), Decimal('859')),
 ('South Africa', datetime.date(2020, 8, 23), Decimal('1280')),
 ('Germany', datetime.date(2020, 4, 19), Decimal('2875')),
 ('Spain', datetime.date(2022, 1, 13), Decimal('2219')),
 ('United States', datetime.date(2020, 12, 9), Decimal('24612')),
 ('Italy', datetime.date(2020, 4, 24), Decimal('2173')),
 ('Italy', datetime.date(2020, 5, 11), Decimal('999')),
 ('South Africa', datetime.date(2021, 8, 5), Decimal('2226')),
 ('Germany', datetime.date(2021, 11, 24), Decimal('4078')),
 ('Spain', datetime.date(2022, 1, 8), Decimal('2045')),
 ('South Africa', datetime.date(2021, 1, 11), Decimal('2125'))]

### 3.18 ¿Hay una relacion en cuanto la admision semanal de pacientes y los pacientes que ya estaban?

In [76]:
%%sql
SELECT DISTINCT country, MAX(weekly_hosp_admissions) AS maximo_pacientes_ingresados, MAX(hosp_patients) AS maximo_pacientes
FROM covid
GROUP BY country
HAVING MAX(hosp_patients) IS NOT NULL AND MAX(weekly_hosp_admissions) IS NOT NULL
ORDER BY maximo_pacientes_ingresados, maximo_pacientes

 * postgresql://postgres:***@localhost:5432/postgres
28 rows affected.

[('Iceland', Decimal('82'), Decimal('100')),
 ('Malta', Decimal('128'), Decimal('140')),
 ('Luxembourg', Decimal('184'), Decimal('247')),
 ('Cyprus', Decimal('249'), Decimal('301')),
 ('Norway', Decimal('561'), Decimal('638')),
 ('Northern Ireland', Decimal('657'), Decimal('1059')),
 ('Slovenia', Decimal('912'), Decimal('1324')),
 ('Wales', Decimal('1043'), Decimal('2009')),
 ('Latvia', Decimal('1180'), Decimal('1452')),
 ('Slovakia', Decimal('1436'), Decimal('3957')),
 ('Ireland', Decimal('1500'), Decimal('2020')),
 ('Scotland', Decimal('1691'), Decimal('2406')),
 ('Switzerland', Decimal('1747'), Decimal('3716')),
 ('Netherlands', Decimal('2184'), Decimal('3284')),
 ('Croatia', Decimal('2331'), Decimal('2976')),
 ('Denmark', Decimal('2912'), Decimal('1762')),
 ('Israel', Decimal('3715'), Decimal('3714')),
 ('Belgium', Decimal('4991'), Decimal('7461')),
 ('Czechia', Decimal('7366'), Decimal('9551')),
 ('South Korea', Decimal('13496'), Decimal('3876')),
 ('Malaysia', Decimal('16562'), Decimal('14753')),
 ('South Africa', Decimal('18184'), Decimal('18034')),
 ('Italy', Decimal('18403'), Decimal('38507')),
 ('Spain', Decimal('22669'), Decimal('27029')),
 ('France', Decimal('25045'), Decimal('33466')),
 ('England', Decimal('26682'), Decimal('34336')),
 ('United Kingdom', Decimal('29649'), Decimal('39258')),
 ('United States', Decimal('153977'), Decimal('154497'))]

### 3.19 Creacion de vista para visualizadores como: power bi, tableau, etc.

In [77]:
%%sql
CREATE VIEW fecha_anterior_posterior AS
WITH paises_vacunados AS (SELECT country, date_covid, MAX(total_vaccinations) AS maximo
						  FROM covid
						  WHERE continent IS NOT NULL
						  GROUP BY country, date_covid
						  HAVING MAX(total_vaccinations) IS NOT NULL),
						  pais_acumulativos AS (SELECT country, date_covid, maximo,
						  						LAG(maximo, 1) OVER(ORDER BY maximo DESC) AS posterior
						  						FROM paises_vacunados)
SELECT country, date_covid, maximo, posterior
FROM pais_acumulativos
ORDER BY 1, 2
LIMIT 150

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### 3.20 Vista creada:

In [79]:
%%sql
SELECT *
FROM fecha_anterior_posterior

 * postgresql://postgres:***@localhost:5432/postgres
150 rows affected.

[('Afghanistan', datetime.date(2021, 2, 22), Decimal('0'), Decimal('0')),
 ('Afghanistan', datetime.date(2021, 2, 28), Decimal('8200'), Decimal('8237')),
 ('Afghanistan', datetime.date(2021, 3, 16), Decimal('54000'), Decimal('54025')),
 ('Afghanistan', datetime.date(2021, 4, 7), Decimal('120000'), Decimal('120027')),
 ('Afghanistan', datetime.date(2021, 4, 22), Decimal('240000'), Decimal('240002')),
 ('Afghanistan', datetime.date(2021, 5, 11), Decimal('504502'), Decimal('504529')),
 ('Afghanistan', datetime.date(2021, 5, 20), Decimal('547901'), Decimal('547953')),
 ('Afghanistan', datetime.date(2021, 5, 24), Decimal('573277'), Decimal('573412')),
 ('Afghanistan', datetime.date(2021, 5, 26), Decimal('590454'), Decimal('590487')),
 ('Afghanistan', datetime.date(2021, 5, 27), Decimal('593313'), Decimal('593406')),
 ('Afghanistan', datetime.date(2021, 5, 30), Decimal('600152'), Decimal('600216')),
 ('Afghanistan', datetime.date(2021, 6, 2), Decimal('626290'), Decimal('626343')),
 ('Afghanistan', datetime.date(2021, 6, 3), Decimal('630305'), Decimal('630634')),
 ('Afghanistan', datetime.date(2021, 6, 8), Decimal('641295'), Decimal('641443')),
 ('Afghanistan', datetime.date(2021, 6, 14), Decimal('662003'), Decimal('662063')),
 ('Afghanistan', datetime.date(2021, 6, 22), Decimal('765890'), Decimal('766159')),
 ('Afghanistan', datetime.date(2021, 6, 27), Decimal('835694'), Decimal('835997')),
 ('Afghanistan', datetime.date(2021, 6, 30), Decimal('886854'), Decimal('886996')),
 ('Afghanistan', datetime.date(2021, 7, 5), Decimal('915671'), Decimal('915724')),
 ('Afghanistan', datetime.date(2021, 7, 7), Decimal('934463'), Decimal('934529')),
 ('Afghanistan', datetime.date(2021, 7, 11), Decimal('962093'), Decimal('962165')),
 ('Afghanistan', datetime.date(2021, 7, 14), Decimal('1024168'), Decimal('1024333')),
 ('Afghanistan', datetime.date(2021, 7, 18), Decimal('1094257'), Decimal('1094400')),
 ('Afghanistan', datetime.date(2021, 7, 24), Decimal('1171064'), Decimal('1171113')),
 ('Afghanistan', datetime.date(2021, 8, 20), Decimal('1201286'), Decimal('1201290')),
 ('Afghanistan', datetime.date(2021, 8, 31), Decimal('1979652'), Decimal('1979734')),
 ('Afghanistan', datetime.date(2021, 9, 30), Decimal('2369625'), Decimal('2370435')),
 ('Afghanistan', datetime.date(2021, 11, 14), Decimal('4018197'), Decimal('4018221')),
 ('Afghanistan', datetime.date(2021, 12, 27), Decimal('4674518'), Decimal('4674897')),
 ('Afghanistan', datetime.date(2022, 1, 9), Decimal('4903368'), Decimal('4904588')),
 ('Afghanistan', datetime.date(2022, 1, 11), Decimal('4925111'), Decimal('4925388')),
 ('Afghanistan', datetime.date(2022, 1, 13), Decimal('4954809'), Decimal('4955746')),
 ('Afghanistan', datetime.date(2022, 1, 17), Decimal('4985047'), Decimal('4986471')),
 ('Afghanistan', datetime.date(2022, 1, 19), Decimal('5004050'), Decimal('5004650')),
 ('Afghanistan', datetime.date(2022, 1, 24), Decimal('5046054'), Decimal('5046209')),
 ('Afghanistan', datetime.date(2022, 1, 26), Decimal('5074196'), Decimal('5074458')),
 ('Afghanistan', datetime.date(2022, 1, 27), Decimal('5081064'), Decimal('5081924')),
 ('Afghanistan', datetime.date(2022, 1, 31), Decimal('5125146'), Decimal('5125206')),
 ('Afghanistan', datetime.date(2022, 2, 2), Decimal('5152297'), Decimal('5152521')),
 ('Afghanistan', datetime.date(2022, 2, 7), Decimal('5216998'), Decimal('5217248')),
 ('Afghanistan', datetime.date(2022, 2, 14), Decimal('5321308'), Decimal('5321817')),
 ('Afghanistan', datetime.date(2022, 2, 20), Decimal('5412309'), Decimal('5412691')),
 ('Afghanistan', datetime.date(2022, 2, 27), Decimal('5535254'), Decimal('5536170')),
 ('Afghanistan', datetime.date(2022, 3, 6), Decimal('5597130'), Decimal('5597294')),
 ('Afghanistan', datetime.date(2022, 3, 17), Decimal('5731146'), Decimal('5731178')),
 ('Afghanistan', datetime.date(2022, 3, 22), Decimal('5751015'), Decimal('5751090')),
 ('Afghanistan', datetime.date(2022, 4, 4), Decimal('5872684'), Decimal('5874572')),
 ('Afghanistan', datetime.date(2022, 4, 14), Decimal('5940400'), Decimal('5942262')),
 ('Afghanistan', datetime.date(2022, 4, 18), Decimal('5948889'), Decimal('5949619')),
 ('Afghanistan', datetime.date(2022, 4, 26), Decimal('5985756'), Decimal('5986139')),
 ('Afghanistan', datetime.date(2022, 4, 27), Decimal('5986139'), Decimal('5986480')),
 ('Afghanistan', datetime.date(2022, 5, 5), Decimal('6021468'), Decimal('6022878')),
 ('Afghanistan', datetime.date(2022, 5, 8), Decimal('6023425'), Decimal('6028417')),
 ('Afghanistan', datetime.date(2022, 5, 10), Decimal('6029737'), Decimal('6032028')),
 ('Afghanistan', datetime.date(2022, 5, 15), Decimal('6066579'), Decimal('6067191')),
 ('Afghanistan', datetime.date(2022, 5, 23), Decimal('6118557'), Decimal('6119298')),
 ('Afghanistan', datetime.date(2022, 6, 1), Decimal('6171652'), Decimal('6172159')),
 ('Afghanistan', datetime.date(2022, 6, 15), Decimal('6295222'), Decimal('6297426')),
 ('Afghanistan', datetime.date(2022, 6, 21), Decimal('6355931'), Decimal('6357198')),
 ('Afghanistan', datetime.date(2022, 6, 27), Decimal('6408475'), Decimal('6409139')),
 ('Afghanistan', datetime.date(2022, 6, 30), Decimal('6445359'), Decimal('6447032')),
 ('Afghanistan', datetime.date(2022, 7, 10), Decimal('6491111'), Decimal('6491476')),
 ('Afghanistan', datetime.date(2022, 7, 17), Decimal('6706843'), Decimal('6707633')),
 ('Afghanistan', datetime.date(2022, 7, 19), Decimal('7885045'), Decimal('7886704')),
 ('Afghanistan', datetime.date(2022, 7, 27), Decimal('8040605'), Decimal('8040954')),
 ('Afghanistan', datetime.date(2022, 8, 7), Decimal('9822860'), Decimal('9824116')),
 ('Afghanistan', datetime.date(2022, 8, 15), Decimal('11216694'), Decimal('11218208')),
 ('Afghanistan', datetime.date(2022, 8, 22), Decimal('11391703'), Decimal('11392534')),
 ('Afghanistan', datetime.date(2022, 8, 31), Decimal('11562525'), Decimal('11562620')),
 ('Afghanistan', datetime.date(2022, 9, 4), Decimal('11588893'), Decimal('11590422')),
 ('Afghanistan', datetime.date(2022, 9, 11), Decimal('11725188'), Decimal('11726084')),
 ('Afghanistan', datetime.date(2022, 9, 12), Decimal('11734635'), Decimal('11735049')),
 ('Afghanistan', datetime.date(2022, 9, 19), Decimal('11820186'), Decimal('11820404')),
 ('Afghanistan', datetime.date(2022, 9, 26), Decimal('11868997'), Decimal('11871309')),
 ('Afghanistan', datetime.date(2022, 9, 28), Decimal('11881035'), Decimal('11881977')),
 ('Afghanistan', datetime.date(2022, 10, 4), Decimal('11923733'), Decimal('11923771')),
 ('Afghanistan', datetime.date(2022, 10, 11), Decimal('11951964'), Decimal('11955726')),
 ('Afghanistan', datetime.date(2022, 10, 16), Decimal('11977773'), Decimal('11977805')),
 ('Afghanistan', datetime.date(2022, 10, 24), Decimal('12055358'), Decimal('12055538')),
 ('Afghanistan', datetime.date(2022, 11, 1), Decimal('12103780'), Decimal('12104193')),
 ('Afghanistan', datetime.date(2022, 11, 2), Decimal('12140367'), Decimal('12141544')),
 ('Afghanistan', datetime.date(2022, 11, 8), Decimal('12174141'), Decimal('12174532')),
 ('Afghanistan', datetime.date(2022, 11, 15), Decimal('12202136'), Decimal('12202442')),
 ('Afghanistan', datetime.date(2022, 11, 16), Decimal('12216936'), Decimal('12217041')),
 ('Afghanistan', datetime.date(2022, 11, 27), Decimal('12275911'), Decimal('12276387')),
 ('Albania', datetime.date(2021, 1, 10), Decimal('0'), Decimal('0')),
 ('Albania', datetime.date(2021, 1, 12), Decimal('128'), Decimal('139')),
 ('Albania', datetime.date(2021, 1, 13), Decimal('188'), Decimal('191')),
 ('Albania', datetime.date(2021, 1, 14), Decimal('266'), Decimal('270')),
 ('Albania', datetime.date(2021, 1, 15), Decimal('308'), Decimal('319')),
 ('Albania', datetime.date(2021, 1, 16), Decimal('369'), Decimal('375')),
 ('Albania', datetime.date(2021, 1, 17), Decimal('405'), Decimal('417')),
 ('Albania', datetime.date(2021, 1, 18), Decimal('447'), Decimal('452')),
 ('Albania', datetime.date(2021, 1, 19), Decimal('483'), Decimal('509')),
 ('Albania', datetime.date(2021, 1, 20), Decimal('519'), Decimal('522')),
 ('Albania', datetime.date(2021, 1, 21), Decimal('549'), Decimal('550')),
 ('Albania', datetime.date(2021, 2, 2), Decimal('550'), Decimal('560')),
 ('Albania', datetime.date(2021, 2, 9), Decimal('1127'), Decimal('1132')),
 ('Albania', datetime.date(2021, 2, 17), Decimal('1701'), Decimal('1702')),
 ('Albania', datetime.date(2021, 2, 18), Decimal('3049'), Decimal('3051')),
 ('Albania', datetime.date(2021, 2, 19), Decimal('4177'), Decimal('4209')),
 ('Albania', datetime.date(2021, 2, 22), Decimal('6728'), Decimal('6738')),
 ('Albania', datetime.date(2021, 2, 25), Decimal('10135'), Decimal('10142')),
 ('Albania', datetime.date(2021, 3, 1), Decimal('14295'), Decimal('14297')),
 ('Albania', datetime.date(2021, 3, 3), Decimal('15793'), Decimal('15837')),
 ('Albania', datetime.date(2021, 3, 10), Decimal('21613'), Decimal('21631')),
 ('Albania', datetime.date(2021, 3, 12), Decimal('23635'), Decimal('23640')),
 ('Albania', datetime.date(2021, 3, 17), Decimal('33369'), Decimal('33371')),
 ('Albania', datetime.date(2021, 3, 22), Decimal('48229'), Decimal('48236')),
 ('Albania', datetime.date(2021, 3, 23), Decimal('51690'), Decimal('51697')),
 ('Albania', datetime.date(2021, 3, 24), Decimal('53992'), Decimal('53993')),
 ('Albania', datetime.date(2021, 3, 25), Decimal('59348'), Decimal('59351')),
 ('Albania', datetime.date(2021, 3, 26), Decimal('62248'), Decimal('62263')),
 ('Albania', datetime.date(2021, 3, 27), Decimal('64075'), Decimal('64078')),
 ('Albania', datetime.date(2021, 3, 28), Decimal('78000'), Decimal('78008')),
 ('Albania', datetime.date(2021, 3, 30), Decimal('119321'), Decimal('119348')),
 ('Albania', datetime.date(2021, 3, 31), Decimal('138846'), Decimal('138914')),
 ('Albania', datetime.date(2021, 4, 1), Decimal('155463'), Decimal('155501')),
 ('Albania', datetime.date(2021, 4, 2), Decimal('172486'), Decimal('172490')),
 ('Albania', datetime.date(2021, 4, 3), Decimal('185496'), Decimal('185533')),
 ('Albania', datetime.date(2021, 4, 4), Decimal('192882'), Decimal('192938')),
 ('Albania', datetime.date(2021, 4, 5), Decimal('206708'), Decimal('206708')),
 ('Albania', datetime.date(2021, 4, 6), Decimal('221588'), Decimal('221595')),
 ('Albania', datetime.date(2021, 4, 7), Decimal('232379'), Decimal('232413')),
 ('Albania', datetime.date(2021, 4, 8), Decimal('242542'), Decimal('242600')),
 ('Albania', datetime.date(2021, 4, 9), Decimal('250676'), Decimal('250781')),
 ('Albania', datetime.date(2021, 4, 10), Decimal('256810'), Decimal('256892')),
 ('Albania', datetime.date(2021, 4, 12), Decimal('267531'), Decimal('267644')),
 ('Albania', datetime.date(2021, 4, 13), Decimal('281216'), Decimal('281244')),
 ('Albania', datetime.date(2021, 4, 15), Decimal('304488'), Decimal('304528')),
 ('Albania', datetime.date(2021, 4, 16), Decimal('314622'), Decimal('314687')),
 ('Albania', datetime.date(2021, 4, 17), Decimal('324840'), Decimal('325053')),
 ('Albania', datetime.date(2021, 4, 18), Decimal('332905'), Decimal('332929')),
 ('Albania', datetime.date(2021, 4, 19), Decimal('345934'), Decimal('345994')),
 ('Albania', datetime.date(2021, 4, 20), Decimal('350000'), Decimal('350003')),
 ('Albania', datetime.date(2021, 4, 21), Decimal('372075'), Decimal('372083')),
 ('Albania', datetime.date(2021, 4, 22), Decimal('382998'), Decimal('383220')),
 ('Albania', datetime.date(2021, 4, 23), Decimal('391351'), Decimal('391359')),
 ('Albania', datetime.date(2021, 4, 24), Decimal('400064'), Decimal('400096')),
 ('Albania', datetime.date(2021, 4, 26), Decimal('408619'), Decimal('408754')),
 ('Albania', datetime.date(2021, 4, 27), Decimal('416855'), Decimal('416878')),
 ('Albania', datetime.date(2021, 4, 28), Decimal('433628'), Decimal('433716')),
 ('Albania', datetime.date(2021, 4, 29), Decimal('453248'), Decimal('453259')),
 ('Albania', datetime.date(2021, 4, 30), Decimal('476903'), Decimal('476917')),
 ('Albania', datetime.date(2021, 5, 1), Decimal('494028'), Decimal('494079')),
 ('Albania', datetime.date(2021, 5, 3), Decimal('517501'), Decimal('517901')),
 ('Albania', datetime.date(2021, 5, 4), Decimal('537387'), Decimal('537467')),
 ('Albania', datetime.date(2021, 5, 5), Decimal('556584'), Decimal('556597')),
 ('Albania', datetime.date(2021, 5, 6), Decimal('572226'), Decimal('572266')),
 ('Albania', datetime.date(2021, 5, 7), Decimal('585693'), Decimal('585731'))]